<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUTH_KEY</key>
	<string>PROVIDE-YOUR-KEY</string>
	<key>API_URL</key>
	<string>https://marlove.net/e/</string>
</dict>
</plist>
